* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.contenedor {
    position: fixed;
    top: 50%;
    right: 50%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    justify-content: space-between;
}

.mapa {
    background-color: rgb(175, 25, 25);
    border: solid;
    border-color: rgb(175, 25, 25);
    border-right-color: rgb(218, 88, 88);
    border-top-color: rgb(218, 88, 88);
    border-radius: 7px;
    height: 800px;
    width: fit-content;
    margin: 10px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    align-self: end;
}

#titulo{
    font-size: small;
    color: white;
    text-align: end;
    margin-top: 15px;
    margin-right: 60px;
}

.panel {
    margin: 20px 60px;
    height: 650px;
}

#mapa-politico {
    height: 100%;
}

.carrousel {
    width: 500px;
    height: 800px;
    margin-top: 10px;

    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    scroll-snap-type: y mandatory;
}

.element {
    width: 300px;
    height: 300px;
    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 200px;
  }