* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.contenedor {
    background-color: rgb(175, 25, 25);
    border: solid;
    border-color: rgb(175, 25, 25);
    border-right-color: rgb(218, 88, 88);
    border-top-color: rgb(218, 88, 88);
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    align-self: end;
    
    position: fixed;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);

    display: flex;
}

#titulo {
    position: absolute;
    font-size: small;
    color: white;
    text-align: end;
    bottom: 17px;
    right: 30px;
}

.retrato {
    margin: 15px 15px;
    margin-right: 45px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#weddingPortrait {
    height: 750px;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

/**
 * IMAGENES PAREJA
 */

label {
    text-align: center;
    line-height: 45px;
}

#file-left,
#file-right {
    display: none;
}

/**
 * DRAGGEABLE
 */
.draggeable{
    height: 200px;
    min-height: 100px;
    width: fit-content;
    min-width: min-content;
    max-width: fit-content;
    position: absolute;
    top: 205px;
    left: 130px;
    overflow: hidden;
    resize: both;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.draggeable-header {
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 10;
    color: #fff;
    position: absolute;
    cursor: all-scroll;
}

.input-image {
    height: 50%;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 50;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    display: none;
}

.input-image label {
    height: 100%;
    transform: translateY(50%);
    font-weight: bold;
    font-size: large;
    padding: 10% 0;
    cursor: pointer;
}

/**
 * LEFT IMAGE
 */

#draggeable-image-left {
    top: 150px;
    left: 100px;
}

#image-left {
    width: inherit;
    height: 100%;
}

/**
 * RIGHT IMAGE
 */

#draggeable-image-right {
    top: 120px;
    left: 300px;
}

#image-right {
    width: inherit;
    height: 100%;
}

/*
 * PANEL DE BOTONES
 */
 .botones {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-right: 60px;
    width: 150px;
}

.div-botones {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
}

.botonStyle {
    display: block;
    background-image: linear-gradient(to right, white, aqua);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
}

.botonStyle:hover {
    background-image: linear-gradient(to right, aqua, white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
}