* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.contenedor {
    background-color: rgb(175, 25, 25);
    border: solid;
    border-color: rgb(175, 25, 25);
    border-right-color: rgb(218, 88, 88);
    border-top-color: rgb(218, 88, 88);
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    align-self: end;
    
    position: fixed;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);

    display: flex;
}

.panel {
    margin: 15px 15px;
    margin-bottom: 10px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#imagenPanel {
    height: 750px;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

/**
 * DRAGGEABLE
 */
.draggeable{
    height: 200px;
    width: fit-content;
    position: absolute;
    top: 205px;
    left: 130px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.draggeable-header {
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 10;
    color: #fff;
    position: absolute;
    cursor: all-scroll;
}

#draggeable-image-1 {
    top: 450px;
    left: 60px;
}

#draggeable-image-2 {
    top: 550px;
    left: 20px;
}

#draggeable-image-3 {
    top: 560px;
    left: 790px;
}

#image-1,
#image-2,
#image-3 {
    width: inherit;
    height: 100%;
}

/**
 * BOTON
 */
 .btn-mesa {
    position: fixed;
    right: 230px;
    top: 266px;
    z-index: 100;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);

    background-image: linear-gradient(to right, #135816, #48854b);
    border: solid;
    padding: 12px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: 4px;
}

.btn-mesa:hover {
    background-image: linear-gradient(to top, #3b723e, #1d611f);
}

/**
 * SEMAFORO
 */

 .semaforo {
    background-color: rgb(160, 160, 160);
    border: solid;
    border-color: rgb(128, 128, 128);
    border-left-color: rgb(204, 204, 204);
    border-top-color: rgb(204, 204, 204);
    height: fit-content;
    width: fit-content;

    position: fixed;
    right: 275px;
    top: 107px;
    z-index: 100;

    transform: rotate(3deg);
}

.luz {
    height: 22px;
    width: 22px;
    border-radius: 2px;
}

#verde {
    background-color: rgb(0, 87, 0);
}

#roja {
   background-color: rgb(109, 0, 0);
}
